/*For Mobile screens */
body {
    font-size: 15px;
    line-height: 1.5;
    padding: 0 10px;
}

/*Nav will stack vertically on mobile*/
nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media (min-width: 600px) and (max-width: 900px) {
    nav ul {
        flex-direction: row;
        gap: 20px;
    }
    .workouts-container {
        grid-template-columns: repeat(2fr, 1fr);
    }
}

@media (min-width: 900px) {
    
    }

    .hamburger {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
}

nav ul {
    display: ;
}

nav.active ul {
    display: flex;
}

/* Desktop hide hamburger*/
@media (min-width: 900px) {
    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
    }
}



