
body {
  font-size: 15px;
  line-height: 1.5;
  padding: 0 10px;
}

/* Default mobile view */
.nav-links {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #111827;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  padding: 20px 0;
}

.menu-toggle {
  display: block;
  font-size: 1.8rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* When menu is active */
.nav-links.active {
  display: flex;
}

/* Tablet and up */
@media (min-width: 600px) {
  .nav-links {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: static;
    display: flex;
    background: none;
  }

 .menu-toggle {
        display: none;
    }
}